@model CavanGaelsCarRentals.Models.ui.BookingUI

@{
    ViewBag.Title = "Create";
}



<div id="listCars" style="background-color: #FEF; font-size: large; padding: 20px; width: 100%">
<h2> Listing Cars</h2>
    <table>
    <tr>
        <th></th>
        <th>Car Reg</th>
        <th>Amount</th>
    </tr>
    @foreach (var car in Model.Cars)
{
    <tr><td>
        <img src="" alt="car" />
    </td><td>
        @Html.DisplayFor(modelItem => car.car_reg)
    </td><td>
        @Html.DisplayFor(modelItem => car.cost_per_day)
    </td></tr>

    
}
</table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
