@model IEnumerable<CavanGaelsCarRentals.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var booking in Model)
{
    <p>@booking.Id</p><br />
    <p>@booking.Car</p><br />
}